<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TechJoy ||Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./css/dashboard-style.css" />
    <link rel="icon" type="image/x-icon" href="./images/icons8-read-96.png" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="app-container">
      <!--!   -----------------------------------  side bar -------------------------------------------------------------------->
      <%- include('./sidebar'); -%>

            <!--!   -------------------------------subscriber tab-------------------------------------------------------------------->
            <div class="subscribers tabcontent slide-in-top" id="subscribers">
                <div class="app-content-header">
                  <h1 class="app-content-headerText">admins</h1>
                  <a class="app-content-headerButton" href="admin_register">
                    Add admin
                  </a>
                </div>
                <div class="app-content-actions">
                  <input class="search-bar" placeholder="Search..." type="text" />
                </div>
                <div class="products-area-wrapper tableView">
                  <div class="products-header">
                    <div class="product-cell admin">username</div>
                    <div class="product-cell date">email</div>
                  </div>
                  <% for(let i = 0; i < admins.length ; i++) { %>
                    <div class="products-row">
                      <div class="product-cell admin">
                        <span class="cell-label">username:</span><%=admins[i].admin_username %>
                      </div>
                      <div class="product-cell date">
                        <span class="cell-label">email:</span><%=admins[i].admin_email %>
                      </div>
                      <div class="product-cell">
                        <form
                          action="/admin/delete/admin/<%=admins[i].admin_id%>"
                          method="get"
                        >
                          <button class="delete" type="submit">delete</button>
                        </form>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            <!-- partial -->
    <script src="./JavaScript/dash-JS.js"></script>
</body>
</html>