<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="article.css" />
    <!-- *google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Article</title>
    <meta
      property="og:url"
      content="https://cdn-developer-wp.arc.dev/wp-content/uploads/2022/06/coding-programming-project-ideas-1128x635.jpg"
    />
    <meta property="og:type" content="Article " />
    <meta property="og:title" content="Testing share" />
    <meta
      property="og:description"
      content="How much does culture influence creative thinking?"
    />
    <meta
      property="og:image"
      content="https://cdn-developer-wp.arc.dev/wp-content/uploads/2022/06/coding-programming-project-ideas-1128x635.jpg"
    />
  </head>
  <body>
    <%- include('./nav'); -%>

    <div class="articleContainer">
      <h6 id="pub_at">published at 22 Fub,2023</h6>
      <h1 id="main_title">7 things u do makes u better software Enginner</h1>
      <h5 id="author">
        This article written by <span id="authName">Mohammed Marsou</span>
      </h5>
      <div class="shareBtns">
        <a
          href="https://www.facebook.com/sharer/sharer.php?app_id=1460941267346567&sdk=joey&u=https://developers.facebook.com/docs/sharing/web"
          onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"
        >
          <i class="fa-brands fa-square-facebook" id="facebookBtn"></i>
        </a>
        <a
          href="https://www.linkedin.com/shareArticle?mini=true&url=https://developers.facebook.com/docs/sharing/web"
          onclick="window.open(this.href, 'mywin',
        'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a
          href="whatsapp://send?text=https://https://developers.facebook.com/docs/sharing/web"
          data-action="share/whatsapp/share"
        >
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <i class="fa-brands fa-twitter"></i>
      </div>
      <p id="tag">#Motivation</p>

      <img
        id="mainCover"
        src="https://cdn-developer-wp.arc.dev/wp-content/uploads/2022/06/coding-programming-project-ideas-1128x635.jpg"
        alt=""
      />
      <p id="descr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Error
        voluptatibus aliquam laboriosam temporibus placeat excepturi consectetur
        animi, esse nulla voluptatum dolores incidunt aliquid vel earum, illum
        odit? Suscipit ducimus quibusdam, architecto beatae cupiditate possimus
        ratione illo, alias modi amet molestiae rem pariatur rerum dolorum
        doloremque! Ipsum reprehenderit veritatis ullam mollitia asperiores
        totam, culpa quod. Esse aut obcaecati sapiente. voluptatibus aliquam
        laboriosam temporibus placeat excepturi consectetur animi, esse nulla
        voluptatum dolores incidunt aliquid vel earum, illum odit? Suscipit
        ducimus quibusdam, architecto beatae cupiditate possimus ratione illo,
        alias modi amet molestiae rem pariatur rerum dolorum doloremque! Ipsum
        reprehenderit veritatis ullam mollitia asperiores totam, culpa quod.
        Esse aut obcaecati sapiente.
      </p>

      <div class="articlbody">
        <h2 id="headin_1">#1 just spend more time on projects</h2>

        <p id="desc_1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi
          nesciunt iste beatae nulla quia ullam aliquam id perspiciatis
          aspernatur hic minima error, autem officia vitae, omnis repellendus,
          labore ab reprehenderit! Libero, non molestiae. Quia numquam omnis
          accusamus blanditiis facere a rem soluta, enim amet id, officiis, iste
          quasi. Nisi, dolorum rerum, suscipit vero doloremque cumque quae
          voluptas eligendi, aspernatur saepe explicabo omnis nostrum incidunt
          dolor sapiente soluta eaque doloribus officiis! Porro dolorem neque
          nostrum, facilis, dolor sint quam voluptatem repellendus quae soluta
          accusamus dicta delectus saepe. Nisi consequatur quas expedita qui
          dolore aut dicta quam error cum? Amet, architecto. Temporibus,
          similique! Tempore sequi, eligendi illo ipsa quisquam deleniti
          architecto, neque laboriosam eum, dicta eos dolores a dolorem ullam
          vitae commodi. Possimus nobis autem voluptatum perspiciatis et esse
          consectetur impedit iusto neque totam dolorum eligendi sed, iure qui
          aut debitis cupiditate ducimus veniam aspernatur animi unde! At culpa
          assumenda laboriosam quisquam soluta magni necessitatibus rem dolores
          ab veniam itaque non doloribus dicta, molestiae provident quo dolorem.
          Velit mollitia esse quidem consequatur ipsa, earum asperiores, ad eum,
          laudantium illum praesentium! Labore omnis laudantium unde molestiae
          obcaecati ad necessitatibus consequuntur aperiam consectetur quasi
          perspiciatis doloremque inventore saepe quas iste fugiat, at quisquam,
          perferendis recusandae nisi cum quaerat. Maiores perferendis id, sequi
          officiis odit soluta veritatis quae reiciendis unde distinctio
          repellat! Officia cum excepturi qui ducimus dolor. Sequi vitae
          laudantium dolorum esse similique, molestias, delectus, numquam
          inventore vel aliquid pariatur tempore vero deserunt laboriosam totam
          earum. Nisi officiis nihil quae voluptas optio ipsa provident, ab
          quisquam aliquid! Reprehenderit!
        </p>

        <h2 id="headin_2">#2 make software enginners Friends</h2>
        <p id="desc_2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi
          nesciunt iste beatae nulla quia ullam aliquam id perspiciatis
          aspernatur hic minima error, autem officia vitae, omnis repellendus,
          labore ab reprehenderit! Libero, non molestiae. Quia numquam omnis
          accusamus blanditiis facere a rem soluta, enim amet id, officiis, iste
          quasi. Nisi, dolorum rerum, suscipit vero doloremque cumque quae
          voluptas eligendi, aspernatur saepe explicabo omnis nostrum incidunt
          dolor sapiente soluta eaque doloribus officiis! Porro dolorem neque
          nostrum, facilis, dolor sint quam voluptatem repellendus quae soluta
          accusamus dicta delectus saepe. Nisi consequatur quas expedita qui
          dolore aut dicta quam error cum? Amet, architecto. Temporibus,
          similique! Tempore sequi, eligendi illo ipsa quisquam deleniti
          architecto, neque laboriosam eum, dicta eos dolores a dolorem ullam as
          optio ipsa provident, ab quisquam aliquid! Reprehenderit!
        </p>

        <h2 id="headin_3">#3 focus on learning basics before moving on fast</h2>
        <p id="desc_3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi
          nesciunt iste beatae nulla quia ullam aliquam id perspiciatis
          aspernatur hic minima error, autem officia vitae, omnis repellendus,
          labore ab reprehenderit! Libero, non molestiae. Quia numquam omnis
          accusamus blanditiis facere a rem soluta, enim amet id, officiis, iste
          quasi. Nisi, dolorum rerum, suscipit vero doloremque cumque quae
          voluptas eligendi, aspernatur saepe explicabo omnis nostrum incidunt
          dolor sapiente soluta eaque doloribus officiis! Porro dolorem neque
          nostrum, facilis, dolor sint quam voluptatem repellendus quae soluta
          accusamus dicta delectus saepe. Nisi consequatur quas expedita qui
          dolore aut dicta quam error cum? Amet, architecto. Temporibus,
          similique! Tempore sequi, eligendi illo ipsa quisquam deleniti
          architecto, neque laboriosam eum, dicta eos dolores a dolorem ullam as
          quasi. Nisi, dolorum rerum, suscipit vero doloremque cumque quae
          voluptas eligendi, aspernatur saepe explicabo omnis nostrum incidunt
          dolor sapiente soluta eaque doloribus officiis! Porro dolorem neque
          nostrum, facilis, dolor sint quam voluptatem repellendus quae soluta
          accusamus dicta delectus saepe. Nisi consequatur quas expedita qui
          dolore aut dicta quam error cum? Amet, architecto. Temporibus,
          similique! Tempore sequi, eligendi illo ipsa quisquam deleniti
          architecto, neque laboriosam eum, dicta eos dolores a dolorem ullam as
          quasi. Nisi, dolorum rerum, suscipit vero doloremque cumque quae
          voluptas eligendi, aspernatur saepe explicabo omnis nostrum incidunt
          dolor sapiente soluta eaque doloribus officiis! Porro dolorem neque
          nostrum, facilis, dolor sint quam voluptatem repellendus quae soluta
          accusamus dicta delectus saepe. Nisi consequatur quas expedita qui
          dolore aut dicta quam error cum? Amet, architecto. Temporibus,
          similique! Tempore sequi, eligendi illo ipsa quisquam deleniti
          architecto, neque laboriosam eum, dicta eos dolores a dolorem ullam as
          optio ipsa provident, ab quisquam aliquid! Reprehenderit!
        </p>
      </div>

      <div class="comments">
        <h2>LEAVE A COMMENT</h2>
        <form action="#" method="post">
          <textarea
            name="comment"
            id="comment"
            placeholder="write your thoughts..."
          ></textarea>
          <button type="submit">submit</button>
        </form>

        <div class="comment_slot">
          <div class="user_data">
            <img
              src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
              alt=""
            />
            <h4 class="usrName">Loco with no moco</h4>
            <span class="datespam">22 Fub 2023</span>
          </div>
          <p class="commentContent">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus beatae velit aliquam laboriosam dicta expedita, autem,
            commodi animi iste ut sint.
          </p>
        </div>

        <div class="comment_slot">
          <div class="user_data">
            <img
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
              alt=""
            />
            <h4 class="usrName">Alexeander the great</h4>
            <span class="datespam">22 Fub 2023</span>
          </div>
          <p class="commentContent">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus beatae velit aliquam laboriosam dicta expedita, autem,
            commodi animi iste ut sint. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Repellendus beatae velit aliquam laboriosam dicta
            expedita, autem, commodi animi iste ut sint.
          </p>
        </div>
      </div>
    </div>
    <%- include('./footer'); -%>

    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
