<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./images/icons8-read-96.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./css/blogFeed.css" />
    <!-- //*Font awsome  -->
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
      crossorigin=""
    ></script>

    <!-- //*Footer  -->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <title>TechJoy</title>
  </head>
  <body>
    <%- include('./nav'); -%>


    <!--* / Latest section  -->
    <section id="Lateset_Container">
      <!-- / Latest article -->
      <div id="latesetArticle">
        <a href="">
          <img
            src="https://cdn.shopify.com/s/files/1/0306/6419/6141/articles/coding_languages.png?v=1619126283"
            alt=""
          />
        </a>
        <h1>
          <a href="#"
            >Is there is only one way to learn coding and get a job ?</a
          >
        </h1>
        <span id="tag">Tutorial</span>
      </div>
      <!-- / side article links -->
      <div class="side_actions">
        <div class="BtnsSideContiner">
          <span id="PupBtn">Pupolar</span>
          <span id="RecBtn">Recent</span>
        </div>
        <div class="s_a_SLOT">
          <img
            src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg"
            alt=""
          />
          <h1><a href=""> 10 Benfits of learning to code in early ages</a></h1>
          <h3>August 20, 2022</h3>
        </div>
        <div class="s_a_SLOT">
          <img
            src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg"
            alt=""
          />
          <h1><a href=""> 10 Benfits of learning to code in early ages</a></h1>
          <h3>August 20, 2022</h3>
        </div>
        <div class="s_a_SLOT">
          <img
            src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg"
            alt=""
          />
          <h1><a href=""> 10 Benfits of learning to code in early ages</a></h1>
          <h3>August 20, 2022</h3>
        </div>
        <div class="s_a_SLOT">
          <img
            src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg"
            alt=""
          />
          <h1><a href=""> 10 Benfits of learning to code in early ages</a></h1>
          <h3>August 20, 2022</h3>
        </div>
      </div>
    </section>

    <!--!------------------------------- Rest Articls ----------------------->
    <div class="sec__title">
      <h1>RECENT</h1>
    </div>
    <div class="Rec__articlesWrp">
      <div class="recent__artContainer">
        <article>
          <div class="img_wpr">
            <a href="">
              <img
                src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg"
                alt=""
              />
            </a>
          </div>

          <div class="art__detailsC">
            <div class="articleDATA">
              <img src="./images/Untitled-1.png" alt="" />
              <span>BACK-END</span>
              <p>MAY ,12 2022</p>
            </div>

            <h1>
              <a href=""
                >10 Benfits of starting to learn Programming in early age</a
              >
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elitamet
              consectetur adipisicing elitLaboriosam, odio....
            </p>
            <a href="#">
            <i class="fa-solid fa-ellipsis"></i>
           </a>
          </div>
        </article>

        <article>
          <div class="img_wpr">
            <a href="">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVtNsWM2Fx7ejIlfuxmsKeHjTBAlFalc00wA&usqp=CAU"
                alt=""
              />
            </a>
          </div>

          <div class="art__detailsC">
            <div class="articleDATA">
              <img src="./images/yssin.jpg" alt="" />
              <span>BACK-END</span>
              <p>MAY ,12 2022</p>
            </div>

            <h1>
              <a href=""
                >10 Benfits of starting to learn Programming in early age</a
              >
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elitamet
              consectetur adipisicing elitLaboriosam, odio....
            </p>
            <a href="#">
            <i class="fa-solid fa-ellipsis"></i>
           </a>
        </article>

        <article>
          <div class="img_wpr">
            <a href="">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXTDUbCyzygSY9spjmOUWAt9wxuLHqzeZN-g&usqp=CAU"
                alt=""
              />
            </a>
          </div>

          <div class="art__detailsC">
            <div class="articleDATA">
              <img src="./images/zyd_inn.jpg" alt="" />
              <span>BACK-END</span>
              <p>MAY ,12 2022</p>
            </div>

            <h1>
              <a href=""
                >10 Benfits of starting to learn Programming in early age</a
              >
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elitamet
              consectetur adipisicing elitLaboriosam, odio....
            </p>
           <a href="#">
            <i class="fa-solid fa-ellipsis"></i>
           </a>
          </div>
        </article>

        <!-- * LOAD MORE BTN -->
        <button>Load more</button>
      </div>
      <!-- ::://// -->
      <div class="tagsContiner">
  <h3>Tag Cloud</h3>
          <hr />

          <div class="content-tags">
            <button>#JavaScript</button>
            <button>#ReactJs</button>
            <button>#PHP</button>
            <button>#NodeJS</button>
            <button>#MERN STACK</button>
            <button>#Insperation</button>
            <button>#TIPS</button>
            <button>#Self-taught</button>
            <button>#Build-project</button>
            <button>#Road Map</button>
            <button>#Motivation</button>
            <button>#Books</button>
          </div>
      </div>
    </div>
    <!--!-------------------------------Sub_container----------------------->
 <div class="Sub_container">
      <img src="./public/images/undraw_mailbox_re_dvds.svg" alt="" />
      <h1>TechJoy</h1>
      <p>
        Hello, We're content writer/Programmers who are fascinated by
        technology, Programming and lifestyle. We help clients bring their ideas
        to life and change the world.
      </p>
        
      <h3>Join our news letter !!</h3>
      <div class="sub_wrpper">
        <input type="email" placeholder="Email-adress" />
        <button>subscribe</button>
      </div>
    </div> 
    <!--!-------------------------------footer----------------------->
    <%- include('./footer'); -%>


    <script src="./JavaScript/blogFeed.js"></script>
  </body>
</html>
