<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/confirm.css" />
    <title>Confirm</title>
  </head>
  <body>
    <section>
      <div class="container">
        <img src="images/undraw_two_factor_authentication_namy.svg" alt="" />
        <p>Almost there !!</p>
        <span>check your Email for confirmation code </span>
        <form action="" method="post">
          <input type="number" name="confirmNumbers" placeholder="# # # # " />
          <button type="submit">SUBMIT</button>
        </form>
      </div>
    </section>
  </body>
</html>
