<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/sub_thk.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      rel="shortcut icon"
      href="./images/icons8-read-96.png"
      type="image/x-icon"
    />
    <!-- //*Font awsome  -->
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
    <!-- //*Footer  -->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <title>Opps</title>
  </head>
  <body>
    <%- include('./nav'); -%>
    <section>
      <div class="container">
        <img src="images/undraw_cancel_re_pkdm.svg" alt="" />
        <p>It look like something went wrong !</p>
        <span>You may want to try later </span>
        <a href="/home">Go home</a>
      </div>
    </section>
    <%- include('./footer'); -%>
    <script src="/JavaScript/blogFeed.js"></script>
  </body>
</html>
