<nav>
  <h1><a href="./home">TechJoy</a></h1>
  <ul>
    <li><a href="./home">home</a></li>
    <li><a href="./blog">blog</a></li>
    <li><a href="./dash">Admin</a></li>
    <li><a href="./contact">contact us</a></li>
  </ul>
  <!-- /login -->
  <a href="./login"> Login </a>
  <!-- MY ACOUNT  -->
  <span>
    My account
    <div class="dropdown_menu">
      <div class="option">
        <i class="fa-solid fa-sliders"></i>
        <a href="#">settings</a>
      </div>
      <div class="option">
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        <button>log out</button>
      </div>
    </div>
  </span>
  <!-- Ham menu -->
  <div class="hamContainer">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
